.container {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
.card-container {
    width: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;

  }